# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

CardGame_v2.suo

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

CardGamev2/Debug

CardGame_v2.suo
*.tlog
*.log
Debug/CardGamev2.exe
Debug/CardGamev2.pdb
Debug/CardGamev2.ilk
*.ipch
*.tlog
*.log
*.ipch
*.obj
*.ilk
*.cache
*.tlog
*.suo
CardGame_v2.suo
*.suo
